.main-body {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between;
    height: 100%; */
}
  
.main-list-row {
    display: flex;
    flex-direction: column;
    justify-content:  space-between; 
    align-items: center;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

/* #list-container {
    height: 200px;
} */

.list-box {
    /* height: 400px; */
    width: 250px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    margin-right: 20px;
    transition: transform .2s;
    /* text-align: center; */
    cursor: pointer;
    grid-area: menu;
    font-size: 12px;
}

.list-box:hover {
    transform: scale(1.1);
}

h2 {
    color: white;
    margin-left: 30px;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    position: center;
    text-align: center;
}

.list_map {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    display: inline-flex;
    /* position: relative; */
    border-radius: 10%;
    margin-left: 10%;
    width: 600px;
    height: 300px;
    /* background-color:rgba(255,0,0,0.0); */
}

.list-map {
    height: 590px;
    /* margin-right: 10px; */
}

.list_page {
    display: grid;
    grid-template-areas:
        'header header'
        'menu main'
        'footer footer';
    grid-template-columns: 7fr 7fr;
}

::-webkit-scrollbar {
    width: 12px;
}
  
  .main-list-row::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #b9b9b9;
  }
  
.main-list-row::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;   
}

  .scrollbar {
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    height: 670px;
    /* width: 65px; */
    /* background: #F5F5F5; */
    overflow-y: scroll;
    margin-bottom: 25px;
  }

  .map_styling {
      margin-top: 28px;
  }

  .leaflet-container {
      border-radius: 10%;
  }