/* .origin-box {

}

.position-box {


}

.destination-box {


} */

.result-box {

    height: 85%;
    width: 25vw;

    padding: 20px;
}

.position-box {

  display: flex;
  flex-direction: column;

}

.main-results-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content:  space-around; 
  align-items: center;
  height: 90%;
}

.result-main-head {

  display: flex;
}

.results-skyrabble-heading {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.results-map {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  width: 270px;
  margin-top: 10px;
}

.results_map {
  height: 8px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.map_container {
  height: 100px;
}

#map {
  height: 190px;
}
