.player-button {

    /* font-size: xx-small; */
    margin: 5px 5px 50px 5px;
}

.skyrabble-button-container {

    border: 2px solid white;
    padding: 5px;
    border-radius: 25px;
    margin-right: 20px;
}

.skyrabble-button-active {
    color:green;
}

.skyrabble-logo-container {
    display: flex;
    justify-content: center;
}
.skyrabble-game-logo {

    max-width: 500px;
    height: auto;
}

.letter-tile {

    font-family: 'News Cycle', sans-serif;
    height: 50px;
    width: 50px;
    margin: 5px;

}